<div style="padding: auto; margin: auto;" class="container">
    <div class="col-12">
        <hr>

    <p>
        your age:
        <input type="text" name="age1" #Myage1 (keyup)="getData(Myage1.value)">

    </p>
    </div>
    <div class="col-12">
        <input type="text" name="T1" #T1 (keydown)="getData(T1.value)">
    </div>

    <div class="col-12">
        <input type="text" name="T2" #T2 (blur)="getData(T2.value)">
    </div>

    <div class="col-12">
        <input type="text" name="T3" #T3 (drop)="getData(T3.value)">
    </div>

    <div>
        <input type="text" name="T4" #T4 (keyup)="getEventAndData(T4,T4.value)">
    </div>
</div>