<div>
    <button (click)="click1('Hey')" class="btn btn-primary">
        click me!
    </button>
</div>

<hr>
<div>
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Hey</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="dateOfBirth">nice to meet you</label>
              <h1>I Think i like you</h1>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">ok</button>
        </div>
      </ng-template>
      
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">click for love</button>
</div>